<div>
    <h2>Id_usuario: {{usuario.id}}</h2>
    <h2>Nombre: {{usuario.nombre}}</h2>
    <h2>email: {{usuario.email}}</h2>
    <h2>Password: {{usuario.password}}</h2>
    <h2>Fecha registro: {{usuario.fecha_registro}}</h2>

    <h2>Proyectos que ha creado</h2>
    <ul>
    {% for proyecto in usuario.creador_proyecto.all %}
            <li>{{proyecto.nombre}}</li>
    {% endfor %}
    </ul>

    <h2>Proyectos asociados</h2>
    <ul>
    {% for proyecto in usuario.colaboradores_proyecto.all %}
        
            <li>{{proyecto.nombre}}</li>
        
    {% endfor %}
    </ul>
    <h2>Tareas creadas</h2>
    <ul>
    {% for tarea in usuario.creador_tarea.all %}
        
            <li>{{tarea.titulo}}</li>
        
    {% endfor %}
    </ul>
    <h2>Tareas asignadas</h2>
    <ul>
    {% for tarea in usuario.colaboradores_tarea.all %}
        
            <li>{{tarea.titulo}}</li>
      
    {% endfor %}
    </ul>
    <h2>Comentarios creados</h2>
    <ul>
    {% for comentario in usuario.comentarios_creador.all %}
    
            <li>{{comentario.contenido}}</li>
       
    {% endfor %}
    </ul>
</div>     
<hr></hr>   